@import 'src/components/commons/colors';

/* mixin_common_style */
@mixin menu-items {
  display: block;
  background: $main_bg_dark;

  font-size: 1.2rem;
  font-weight: bold;

  text-align: center;

  svg {
    color: $main_txt_dark;
    font-size: 1.3rem;
  }

  &:active {
    background: $main_bg_dark__hover;
  }
}

/* Header common */
header {
  position: sticky;
  top: 0;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}

/* Normal Header */
.menu_btn {
  @include menu-items;
  display: flex;
  justify-content: center;
  align-content: center;

  //width: 20%; // 모바일
  width: 10%;
  height: 100%;

  button {
    padding: 1em;
    background: none;
    color: $main_txt_dark;
    width: 100%;
  }
}
.menu_link {
  @include menu-items;
  //width: 30%;// 모바일
  width: 40%;
  height: 100%;
  justify-content: center;
  align-content: center;

  a {
    padding: 1em;
    display: block;
    color: $main_txt_dark;
  }

  &.btn__add {
    //width: 20%;// 모바일
    width: 10%;
  }
}

/* Camera header */
.menu_svg {
  @include menu-items;

  width: 5%;
  padding: 1em;
  cursor: pointer;
}
.menu__title {
  @include menu-items;

  width: 95%;
  padding: 1em;
  color: $main_txt_dark;
}

/* menu action (hover, active) */
.menu_hover {
  &:hover {
    background: $main_bg_dark__hover;
  }
}
.menu_active {
  background: $main_bg_dark__hover;
}