/* color guide */
$first_dark: #393232;
$second_dark: #4D4545;
$third_dark: #8D6262;
$fourth_dark: #ED8D8D;
$text_color: #fcfcfc;
// 임시
$real_dark: #2b2626;

/* dark mode */
$main_bg_dark: $first_dark;
$main_bg_dark__hover: $second_dark;
$main_txt_dark: $text_color;

/* normal mode */
$main_bg_normal: $fourth_dark;
$main_bg_normal__hover: $third_dark;
$main_txt_normal: $text_color;